.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 16;
    display: none;
}
.sidebar {
    position:absolute;
    top: 0px;
    left: 8px;
    bottom:0;
    width: 20%;
    background-color: white;
    border: 15px solid;
    border-color: #a33331;
    overflow: auto;
    z-index: 1;
}
.conspect{
    position:absolute;
    top: 0px;
    width: 60%;
    left: 20%;
    bottom: 0;
    overflow: auto;
    border: 15px solid;
    border-color: #a33331;
}
.child {
    margin: 5%; /* Отступы вокруг */
   }
.sidebar-right{
    position:absolute;
    top: 0px;
    right: 8px;
    bottom:0;
    width: 19%;
    background-color: white;
    border: 15px solid;
    border-color: #a33331;
    overflow: auto;
    z-index: 1;
}